div{
    background-image: url(./assests/mountain.jpg);
    padding: 15px;
    margin: 10%;
    width: 50%;
    
}
li{
    color: red;
    font-size: 18px;
}
p{
    font-size: 19px;
}
span{
    color: black;
}